body{
	padding: 0;
	margin: 0;
	font-family: 'HelveticaNeue','Helvetica','Arial';
	background: url('lowPoly.png');
	background-repeat: repeat;
}

.bigText{
	position: absolute;
	top: 40%;
	width: 100%;
	color: #838383;
	text-align: center;
	font-size: 40px;
}


.bigText img{
	max-height: 170px;
	width: auto;
}

.bigText h1{
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.mainLink{
	color: #c7c7c7;
	transition: color 0.5s;
	cursor: pointer;
	font-size: 24px;
	text-decoration: none;
	padding:0 0 10 20;
}

.mainLink:hover{
	color: #000;
}